.App {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
body{
    margin: 0;
    padding: 0;
}
.TitleSection {
    background-color: #E33D33;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items:  center;
    color: white;
    border-bottom: 50px solid black;

}

.TitleSection input{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #4ca8ee;
    font-size: 18px;
    text-align: center;
}

.DisplaySection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DisplaySection h2, h3{
    margin: 6px;
}